@page "/addContact"
@using BlazorDirectoryProject;
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Add Contact</h3>
<EditForm Model="@_contact" OnValidSubmit="Post">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3" style="display: flexbox;">
        <label>Name Contact</label>
        <InputText @ref="name" @bind-Value="_contact.nameContact" />
    </div>
    <div class="mb-3" style="display: flexbox;">
        <label>Phone Contact</label>
        <InputText @ref="landline" @bind-Value="_contact.landlineContact" />
    </div>
    <div class="mb-3" style="display: flexbox;">
        <label>Cellphone Contact</label>
        <InputText @ref="cellphone" @bind-Value="_contact.cellphoneContact" />
    </div>
    <div class="mb-3" >
        <input type="submit" class="btn btn-success" value="Add Contact" />
    </div>
</EditForm>
@code {
    InputText name;
    InputText landline;
    InputText cellphone;

    private Contact _contact = new();

    public static int sizeActually = 0;
    private async Task Post()
    {
        // if (Index.sizeContact > 0 && sizeActually < Index.sizeContact)
        // {
        HttpResponseMessage response = await Http.PostAsJsonAsync<Contact>("/api/Contact", _contact);
        if (response.IsSuccessStatusCode)
        {
            // sizeActually++;
            Navigation.NavigateTo($"/listContacts");
        }
    }
    // }
}