@page "/availableContacts"
@using BlazorDirectoryProject;

<PageTitle>Available Contacts</PageTitle>

<h1>Available Contacts</h1>


<span> The spaces available in the telephone directory are: </span>
@spaces


@code {
    private Contact contact = new();
    private int spaces = Index.sizeContact-AddContact.sizeActually;
    private void HandleValidSubmit()
    {
       
    }
}
