@page "/availableContacts"
@using BlazorDirectoryProject;

<PageTitle>Available Contacts</PageTitle>

<h1>Available Contacts</h1>


<span> The spaces available in the telephone directory are: </span>
@spaces


@code {
    private int spaces = Index.sizeContact - AddContact.sizeActually;

}
