@page "/availableContacts"
@using BlazorDirectoryProject;

<PageTitle>Available Contacts</PageTitle>

<h1>Available Contacts</h1>




@code {
    private Contact contact = new();

    private void HandleValidSubmit()
    {
       
    }
}
