@page "/findContact"
@using BlazorDirectoryProject
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Find Contact</PageTitle>

<h1>Find Contact</h1>


<EditForm Model="@contact" OnValidSubmit="@OnInitializedAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    Contact name =
    <InputText id="nameContact" @bind-Value="contact.nameContact" />
    <br>
    <br>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Find Contact" />
    </div>
</EditForm>
<br>
<br>
<span>Message: @message</span>


@code {
    private Contact contact = new();

    string message = "";

    private Contact _contact;

    private async Task OnInitializedAsync()
    {
        try
        {

            message = "That contact is not exist";
            _contact = await Http.GetFromJsonAsync<Contact>("/api/Contact/" + contact.nameContact);


            if (_contact != null)
            {
                message = "Contact " + _contact.nameContact + " has cellphone " + _contact.cellphoneContact;
            }
        }
        catch (Exception)
        {

        }
    }
}
