@page "/fullDirectory"
@using BlazorDirectoryProject

<PageTitle>Full Directory</PageTitle>

<h1>Full Directory</h1>

@if (AddContact.sizeActually == Index.sizeContact)
{
    <span> The phone book is full</span>
}
else
{
    <span> The phone book is not full</span>
}

@code {
}
