@page  "/listContacts"
@using BlazorDirectoryProject
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Contacts</h3>
@if (_contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Landline</th>
                <th>Cellphone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in _contacts)
            {
                <tr>
                    <td>@contact.id</td>
                    <td>@contact.nameContact</td>
                    <td>@contact.landlineContact</td>
                    <td>@contact.cellphoneContact</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    
    private List<Contact> _contacts;
    protected override async Task OnInitializedAsync()
    {
        _contacts = await Http.GetFromJsonAsync<List<Contact>>("https://localhost:7086/api/Contact");
    }
    

}
