@page "/thereIsContact"
@using BlazorDirectoryProject
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>There is Contact</PageTitle>

<h1>There is Contact</h1>


<EditForm Model="@contact" OnValidSubmit="@OnInitializedAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    Contact name =
    <InputText id="nameContact" @bind-Value="contact.nameContact" />
    <br>
    <br>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="There is Contact" />
    </div>
</EditForm>
<br>
<br>
Message: @message

@code {
    private Contact contact = new("");
    private bool _contact;

    private string message = "";

    private async Task OnInitializedAsync()
    {
        try
        {
            _contact = await Http.GetFromJsonAsync<bool>("/api/Contact/thereIs/" + contact.nameContact);

            if (!_contact)
            {
                message = "The contact does not exist";
            }
            else
            {
                message = "The contact does exist";
            }
        }
        catch (Exception)
        {
        }
    }
}
