<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Phone Directory</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addContact">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Contact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listContacts">
                <span class="oi oi-list" aria-hidden="true"></span> List Contacts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="findContact">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Find Contact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="thereIsContact">
                <span class="oi oi-question-mark" aria-hidden="true"></span> There is Contact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deleteContact">
                <span class="oi oi-minus" aria-hidden="true"></span> Delete Contact
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="availableContacts">
                <span class="oi oi-info" aria-hidden="true"></span> Available Contacts
            </NavLink>
        </div> *@
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="fullDirectory">
                <span class="oi oi-terminal" aria-hidden="true"></span> Full Directory
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
